<ion-header>
  <ion-toolbar>
      <ion-button fill ="clear" slot="start" routerLink='/home' routerDirection="root" id="menu-icon" >
          <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
        </ion-button>
    <ion-title>Add topic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3" >
            <form [formGroup] = "addTopicForm" margin (ngSubmit)="onSubmit()">
                <ion-item  id="Email" lines = "none" >
                    <ion-icon  name="cloud" slot="start" ></ion-icon>
                    <ion-input id = "userEmail" formControlName="URL" placeholder="URL" type="text" ></ion-input>
                  </ion-item>
                  <div id = "invalid-feedback" [hidden] = "!submitted" lines = "none" *ngIf="getControls.URL.errors?.required">
                    Field required
                  </div>
                  <ion-item  id="Email" lines = "none">
                    <ion-icon name="help-buoy" slot="start"></ion-icon>
                    <ion-input  formControlName="port" placeholder="Port" type="number" ></ion-input>
                  </ion-item>
                  <div id = "invalid-feedback" [hidden] = "!submitted" lines = "none" *ngIf="getControls.port.errors?.required">
                      Field required
                    </div>
                    <ion-item  id="Email" lines = "none">
                        <ion-icon name="list-box" slot="start"></ion-icon>
                        <ion-input  formControlName="topic" placeholder="Topic" type="text" ></ion-input>
                      </ion-item>
                      <div id = "invalid-feedback" [hidden] = "!submitted" lines = "none" *ngIf="getControls.topic.errors?.required">
                          Field required
                        </div>
                    <ion-item  id="Email" lines = "none">
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-input  formControlName="userName" placeholder="Username" type="text" ></ion-input>
                    </ion-item>
                    <div id = "invalid-feedback" [hidden] = "!submitted" lines = "none" *ngIf="getControls.userName.errors?.required">
                        Field required
                      </div>
                    <ion-item  id="Password" lines = "none">
                        <ion-icon name="lock" slot="start"></ion-icon>
                        <ion-input  formControlName="userPassword" placeholder="Password" type="password" ></ion-input>
                    </ion-item>
                    <div id = "invalid-feedback" [hidden] = "!submitted" lines = "none" *ngIf="getControls.userPassword.errors?.required">
                        Field required
                      </div>
                    <ion-row>
                        <ion-col col-6> 
                        </ion-col>                    
                        <ion-col col-6>
                            <div  id ="button-login">
                            <ion-button  type="submit"  fill = "outline" shape="round" expand = "block" >Save
                                <ion-icon slot="end" name="save"></ion-icon>
                            </ion-button>
                        </div> 
                        </ion-col>
                      </ion-row>
            </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
